.main--container {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.signup--container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 15px;
  padding: 20px;
}
h1 {
  align-self: center;
}
.instructions {
  color: rgb(102, 98, 98);
  font-size: 0.7rem;
}
label {
  padding: 10px;
  padding-left: 0px;
  margin-top: 20px;
}
input {
  width: 60%;
  padding: 10px;
}
button {
  width: 70px;
  margin-top: 30px;
}
.bird-cage-img {
    min-height: 100vh;
    width: 60vw;
}

.google-btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}
.signup-logo {
    width: 260px; 
    align-self: center; 
}
