.main--container {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}
.signin--container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 15px;
    padding: 20px;
}
h1 {
    align-self: center;
}
.asterisk {
    color: red;
}
.instructions {
    color: rgb(106, 100, 100);
    font-size: 0.7rem;
}
label {
    padding: 10px;
    padding-left: 0px;
    margin-top: 20px;
}
input {
    width: 60%;
    padding: 10px;
}
button {
    width: 70px;
    margin-top: 25px;
}
.main--container img {
    min-height: 100vh;
    width: 60vw;
}
