.signin-main--container {
    display: flex;
    flex-direction: row;
    background: aqua;
}
.signin--container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 15px;
    padding: 20px;
}
.signin-form {
    display: flex;
    flex-direction: column;
}
h1 {
    align-self: center;
    font-size: 3rem;
    background-image: linear-gradient(90deg, #ff0000 0%, #00ff00 80%);
    background-clip: text;
    color: transparent;
    text-shadow: black 1px 1px -1px;
    -webkit-text-stroke: red 0.3px;
}

label {
    padding: 10px;
    padding-left: 0px;
    margin-top: 20px;
}
input {
    width: 60%;
    padding: 10px;
}
.signin-submit-btn {
    background-color: var(--buttonGreen);
    border: none;
    height: 35px;
    width: 90px;
    margin-top: 10px;
    cursor: pointer;
}
.signin-submit-btn:hover {
    background-color: var(--highlightedGreen);
}

.bird-cage-img {
    min-height: 100vh;
    width: 60vw;
}

.google-btn {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin: 20px 0px;
}

.signin-logo {
    width: 280px;
    align-self: center;
}

@media screen and (max-width: 400px) {
    .signin-main--container {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background: aqua;
        align-items: center;
    }
    .signin--container {
        display: flex;
        align-items: center;
        /*👉   border: #ff0000 solid 1px;👈*/
        width: 80%;
    }
    .signin-form {
        width: 90%;
    }
    .signin-form input {
        width: 215px;
    }
    .signin--container h1 {
        width: 200px;
        text-align: center;
        margin-left: 50%;
        margin-right: 50%;

        /*👉  border: red solid 1px👈*/
    }
    .google-links {
    }
    .signin-logo {
        width: 183px;
        position: fixed;
        bottom: 10px;
    }
    .bird-cage-img {
        display: none;
    }
}
