.expenses--container {
    width: 100%;
}

.expenses-nav {
    margin: 0px 10px;
}
.nav-line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-icon {
    width: 20px;
    margin-right: 4px;
}
.nav-line2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: 5px;
}
.nav-line2-left {
    display: flex;
}
.search-btn {
    background-color: rgb(44, 197, 44);
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-right: 1px solid lightgrey;
}
.search-btn:hover {
    background-color: rgb(11, 232, 11);
}
.search {
    margin: 0;
    padding: 0;
    text-indent: 6px;
    height: 31px;
    width: 170px;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid rgb(44, 197, 44);
}
.search:hover {
    border: 2px solid rgb(11, 232, 11);
}

.nav-line2-right {
    display: flex;
}

.create-expense-btn {
    margin: 0;
    padding: 0;
    width: 130px;
    height: 35px;
    background-color: rgb(44, 197, 44);
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.create-icon {
    width: 18px;
    padding: 6px;
}

.create-expense-btn:hover {
    background: rgb(11, 232, 11);
}
.filter-btn {
    margin: 0px 10px 0px 10px;
    padding: 0;
    height: 35px;
    background-color: rgb(44, 197, 44);
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.filter-icon {
    width: 16px;
    padding: 6px;
}
.filter-btn:hover {
    background: rgb(11, 232, 11);
}
.row-header {
    background-color: rgba(0, 255, 255, 0.267);
    display: grid;
    grid-template-columns:
        minmax(150px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr)
        minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 0.8fr);
}
.row-header p {
    margin: 10px 10px;
}
.row-data-container {
    height: 82vh;
    overflow-y: scroll;
}
.row-data {
    display: grid;
    grid-template-columns:
        minmax(150px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr)
        minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 0.8fr);
    margin-left: 10px;
    border-bottom: 1px solid lightgrey;
}
.row-data div {
    margin: 0;
    display: flex;
    align-items: center;
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;
}
.row-data div > p {
    text-overflow: ellipsis;
    overflow: hidden;
}
.income {
    color: green;
}
.income:hover {
    background-color: rgba(144, 238, 144, 0.2);
}
.expense {
    color: red;
}
.expense:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.row-data button {
    margin: 0;
}
.edit-expense-btn {
}
/*👉POPUPZONE👈*/

.popup--container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(236, 236, 236, 1);
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.popup-title {
    width: 400px;
    border-radius: 10px;
    margin-top: 50px;
}
.popup-amount {
    width: 400px;
    border-radius: 10px;
    margin-top: 20px;
}
.popup-select {
    width: 422px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}
.popup-date {
    width: 400px;
    border-radius: 10px;
    margin-top: 20px;
}
textarea,
input,
select {
    border: rgba(236, 236, 236, 0.9) 1px solid;
    outline: none;
}
textarea:hover,
input:hover,
select:hover {
    border: lightgreen 1px solid;
    outline: none;
}
textarea:focus,
input:focus,
select:focus {
    border: lightgreen 1px solid;
    outline: none;
}
.recurring-container {
    margin-top: 10px;
    margin-left: 53px;
    align-self: flex-start;
}
.recurring {
    margin-top: 10px;
    width: 30px;
    align-self: flex-start;
}
.recurring-label > span {
    color: grey;
}
.radio-btn-container {
    display: flex;

    margin-top: 0px;
    margin-left: 59px;
    align-self: flex-start;
}
.radio-btn-container > input[type="radio"],
label {
    margin-top: 19px;
    vertical-align: middle;
}
.popup-add {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    background-color: rgb(44, 197, 44);
}
.popup-add:hover {
    background: rgb(11, 232, 11);
}
/*👉********FILTER POPUP*********👈*/

.popup-filter {
    border-radius: 20px;
}
.popup-filter-container {
    align-items: center;
}
.popup-filter-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-bottom: 1px lightblue solid;
    cursor: pointer;
}

.popup-filter-container div:hover {
    border:1px aqua solid ;
}

/*👉********EDIT POPUP*********👈*/

.edit-expense-btn {
    background-color: rgb(44, 197, 44);
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
}
.edit-expense-btn:hover {
    background: rgb(11, 232, 11);
}
.recurred-container {
    margin-top: 10px;
}
.popup-edit {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-top: 40px;
    background-color: rgb(44, 197, 44);
    cursor: pointer;
}
.popup-edit:hover {
    background: rgb(11, 232, 11);
}
.popup-delete {
    background-color: rgb(243, 65, 65);
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-top: 140px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}
.popup-delete:hover {
    background-color: red;
}
.RUSure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.RUSure-yes-btn {
    background-color: rgb(243, 65, 65);
    margin-right: 20px;
    border-radius: 6px;
    border: none;
    height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
.RUSure-yes-btn:hover {
    background-color: red;
}
.RUSure-no-btn {
    background-color: rgb(44, 197, 44);
    border-radius: 6px;
    border: none;
    height: 25px;
    cursor: pointer;
}
.RUSure-no-btn:hover {
    background: rgb(11, 232, 11);
}
