.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #00ffff 0%, #ffff00 10%, #ffff00 99%);
    margin-bottom: 5px;
    box-shadow: 5px 3px 5px 0px rgba(250, 19, 19, 0.75);
    height: 80px;
}

.dashboard-header h4 {
    margin-right: 10px;
}
.user-icon {
 width: 40px;
 height: 40px;
 border: 2px grey solid;
 border-radius: 50%;

}
.title-list {
    text-decoration: none;
    display: flex;
    list-style: none;
    transform: translateX(-470px);
    opacity: 0;
}

.title-list-letter {
    color: rgb(11, 232, 11);
    text-shadow: 1px 1px 1px red;

    font-size: 2.4rem;
}

.letter-moved {
    font-size: 2.4rem;
}
.moved {
    opacity: 1;
}

.title-list.moved li:nth-child(1) {
    transition: all 3s ease-in;
    animation: roll 3s 1;
    animation-fill-mode: forwards;
}
.title-list.moved li:nth-child(2) {
    transition: all 1.5s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(3) {
    transition: all 1.4s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(4) {
    transition: all 1.3s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(5) {
    transition: all 1.2s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(6) {
    transition: all 1.1s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(7) {
    transition: all 1s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(8) {
    transition: all 0.9s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(9) {
    transition: all 0.8s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(10) {
    transition: all 0.7s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(11) {
    transition: all 0.6s ease-out;
    transform: translateX(460px);
}
.title-list.moved li:nth-child(12) {
    transition: all 0.5s ease-out;
    transform: translateX(460px);
}

@keyframes roll {
    0% {
        transform: translateX(0px);
    }

    65% {
        transform: translateX(460px) rotateZ(15deg);
    }
    70% {
        transform: translateX(460px) rotateZ(0deg);
    }
    80% {
        transform: translateX(450px) rotateZ(-30deg);
    }
    100% {
        transform: translateX(460px) rotateZ(0deg);
    }
}
.user-name {
    color: aqua;
    opacity: 0;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px red;
    display: flex;
    align-items: center;
    gap: 4px;
}
.user-name.name-moved {
    transition: all 1.8s ease-in;
    opacity: 1;
}