.primary--nav {
    height: 100vh;
    min-width: 150px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 1px 3px 5px 0px rgba(250, 19, 19, 0.75);
}

.links {
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    padding: 30px;

    color: rgb(59, 1, 249);
    text-shadow: 3px 3px 3px grey;

}
.links:hover {
    background: linear-gradient(
        90deg,
        rgb(11, 232, 11) 0%,
        rgb(11, 232, 11) 0%,
        #00ffff 99%
    );
    color: yellow;
    text-shadow: 1px 1px 1px red;
}
.links:active {
    background-color: rgb(11, 232, 11);
}
.nav-logo {
    width: 8rem;
    margin-top: 100px;
}
.logout {
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    display: flex;
    gap: 8px;
}
.logout-icon {
    width: 20px;
}
/* mobile */
.mobile-nav-btn {
    position: absolute;
    width: 40px;
    z-index: 2;
    top: 5px;
    left: 5px;
    transition: all .5s ease;
}

.rotated {
   transform: rotateZ(90deg);
}
.mobile-primary--nav {
    height: 30vh;
    position: absolute;
    top: 50px;
    z-index: 2;
    /*👉background-color: aqua;👈*/
        background: linear-gradient(90deg, #00ffff 0%, #ffff00 30%, #ffff00 99%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 3px 5px 0px rgba(250, 19, 19, 0.75);
    border-radius: 0px 0px 3px 0px;
    
}
.mobile-primary--nav > .links {
    padding: 10px;

}


