.primary--nav {
  height: 100vh; 
 min-width: 150px;
 background-color: aqua;
 display: flex;
 flex-direction: column;
 width: 0px;
}

.links {
text-decoration: none;
 padding: 20px;
}
.links:hover {
 background-color: rgb(57, 157, 157);
}