.dashboard-container {
  width: 100vw;
  height: 100vh;
  margin: 0px 10px;
  position: relative;
}
/*👉*********HEADER*********👈*/
.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.left-and-right-container {
  display: flex;
  position: relative;
}
/*👉************Leftside************👈*/
.leftside-container {
  width: 70%;
}
.three-totals {
  display: flex;
  justify-content: space-evenly;
}

.three-totals > div {
  background-color: rgba(0, 255, 255, 0.267);
  border-radius: 10px;
  height: 60px;
  cursor: pointer;
  flex-basis: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.three-totals h5 {
  margin: 6px;
}
.three-totals h3 {
  margin: 0;
}
.three-totals > div:hover {
  background-color: aqua;
}
.three-totals-activated {
  box-shadow: 0px 0px 242px 5px rgba(0, 255, 255, 0.94) inset;
  -webkit-box-shadow: 0px 0px 242px 5px rgba(0, 255, 255, 0.94) inset;
  -moz-box-shadow: 0px 0px 242px 5px rgba(0, 255, 255, 0.94) inset;
}
/* .chart-container {
} */
.recent-expenses-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent-expenses-title h5 {
  color: darkblue;
  cursor: pointer;
}
.recent-expenses-title button {
  margin: 0;
  text-decoration: none;
  background-color: rgba(0, 255, 255, 0.267);
  border: none;
  border-radius: 10px;
}
.recent-expense-header {
  background-color: rgba(0, 255, 255, 0.267);
  display: grid;
  grid-template-columns:
    minmax(150px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr)
    minmax(80px, 1fr);
}

.recent-expenses-data {
  display: grid;
  grid-template-columns:
    minmax(150px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr)
    minmax(80px, 1fr);
  margin-left: 10px;
  border-bottom: 1px solid lightgrey;
}

.recent-expenses-data div {
  margin: 0;
  display: flex;
  align-items: center;
  max-height: 40px;
  overflow: hidden;
  white-space: nowrap;
}
.recent-expenses-data div > p {
  text-overflow: ellipsis;
  overflow: hidden;
  /*👉color: green;👈*/
}
.income {
color: green;
}
.income:hover {
    background-color: rgba(144, 238, 144, 0.2);
}
.expense {
    color: red;
}
.expense:hover {
    background-color: rgba(255, 0, 0, 0.1);
}
/*👉************Rightside************👈*/
.rightside-container {
  width: 30%;
  margin-left: 10px;
}
.recurring-div {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0.267);
  border-radius: 10px;
  margin-top: 10px;
}
.recurring-div:hover {
  background-color: aqua;
}
.recurring-div > p {
  margin: 10px 10px;
}
