.forgot-main--container {
  display: flex;
  flex-direction: row;
  background-color: aqua
}
.forgot--container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 15px;
  padding: 20px;
}
h1 {
  align-self: center;
}
.asterisk {
  color: red;
}
.instructions {
  color: rgb(106, 100, 100);
  font-size: 0.7rem;
}
label {
  padding: 10px;
  padding-left: 0px;
  margin-top: 20px;
}
input {
  width: 60%;
  padding: 10px;
}
.reset-btn {
    background-color: var(--buttonGreen);
    border: none;
    height: 35px;
    width: 90px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.reset-btn:hover {
    background-color: var(--highlightedGreen);
}
.bird-cage-img {
    min-height: 100vh;
    width: 60vw;
}

.forgot-password-logo {
    width: 260px;  
    align-self: center;
    margin-top: 60px;
}

@media screen and (max-width: 400px) {
    .forgot-main--container {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background: aqua;
        align-items: center;
    }
    .forgot--container {
        display: flex;
        align-items: center;
        width: 80%;
    }
    .signin-form {
        width: 90%;
    }
    .forgot-form input {
        width:215px ;
    }
    .forgot--container h1 {
        width: 220px;
        margin-left: 50%;
        margin-right: 50%;

        text-align: center;
    }
    
    .forgot-logo {
        width: 250px;
        position: bottom;
        bottom: 20px;
    }
    .bird-cage-img {
        display: none;
    }
}